[package]
name = "bevy_flycam"
version = "0.1.0"
authors = ["Spencer Burris <sburris@posteo.net>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
bevy = "0.4"
