[package]
name = "bevy_flycam"
version = "0.7.0"
authors = ["Spencer Burris <sburris@posteo.net>"]
edition = "2021"
license = "ISC"
description = "Basic first-person fly camera for the Bevy game engine"
homepage = "https://github.com/sburris0/bevy_flycam/"
repository = "https://github.com/sburris0/bevy_flycam/"
readme = "README.md"
keywords = ["gamedev", "bevy", "3d", "camera"]
categories = ["game-engines", "game-development"]
resolver = "2"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[dependencies]
bevy = {version = "0.7.0-dev", default-features = false, features = ["bevy_render"]}

[dev-dependencies]
bevy = {version = "0.7.0-dev", default-features = false, features = ["x11", "wayland", "bevy_pbr", "bevy_core_pipeline"]}

[patch.crates-io]
bevy = { git = "https://github.com/bevyengine/bevy", branch = "main" }